{% extends "tools/tool_base.html" %}
{% load staticfiles %}

{% block tool %}

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputtextarea">Input</label>
            <textarea class="form-control rounded-0" id="inputtextarea" rows="10" placeholder="Start Typing..." onkeyup="written(this)"></textarea>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <label for="outputtextarea">Output</label>
          <textarea class="form-control rounded-0" id="outputtextarea" rows="10" placeholder="Output..." disabled></textarea>
      </div>
    </div>


</div>
{% endblock %} 


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<script type = 'text/javascript'>
    function written(tag)
    {
        var ans = document.getElementById('outputtextarea');
        var invalue = tag.value;
        var a = sha256(invalue);
        ans.value = a;
    }
</script>
{% endblock %}