{% extends "tools/tool_base.html" %}
{% load staticfiles %}

{% block head %}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.css'>
{#  themes #}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/twilight.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/solarized.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/monokai.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/eclipse.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/midnight.css'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/addon/hint/show-hint.css">
{% endblock %}

{% block tool %}
<style>
    button:hover {
        background-color: green;
    }
</style>
<br>
<div class="border rounded rounded-dark" style="border-width: 1px">
    <div class="panel panel-default" style="margin: 5px;">
        <div class="panel-heading">
            <form id="form" name="form" action="/detect_lang/" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-2 col-offsest-md-2">
                        <select class="form-control" id="theme">
                            <option value="twilight">twilight</option>
                            <option value="solarized">solarized</option>
                            <option value="monokai">monokai</option>
                            <option value="eclipse">eclipse</option>
                            <option value="midnight">midnight</option>
                        </select>
                    </div>
                    <div class="col-sm-5 col-sm-offset-5">
                        <button id="button" class="btn btn-flat btn-lg " type="submit">Detect</button>
                    </div>
                    <div class="col-sm-5 col-sm-offset-5">
                        <p id="lang" style=""></p>
                    </div>
                </div>
                <div>
                    <div class="panel-body" style="display: inline-block; width: 500px;">
                        <textarea class="form-control rounded-0 CodeMirror" id="in" rows="10"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.js"></script>
{# languages #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/css/css.js"></script>

{# Hints #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/addon/hint/show-hint.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/addon/hint/css-hint.js"></script>

<script type="text/javascript">
    var config = {
        lineNumbers: true,
        lineWrapping: true,
        theme: "twilight",
        extraKeys: {'Ctrl-Space': 'autocomplete'},
        tabSize: 4,
        indentUnit: 4
    };
    var editor = CodeMirror.fromTextArea(document.getElementById("in"), config);
    $('#theme').on('change', function () {
        theme = $("#theme").val();
        editor.setOption("theme", theme)
    })
</script>
<script>
    $(document).ready(function () {
        $("#form").submit(function (event) {
            event.preventDefault();
            var code = editor.getValue();
            var token = $(this).children("input[name='csrfmiddlewaretoken']")[0].value;
            $.ajax({
                data: {"csrfmiddlewaretoken": token, "code": code},
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                success: function (response) {
                    document.getElementById("lang").innerHTML = response;
                    document.getElementById("lang").style.background = "blue";
                    document.getElementById("lang").style.color = "white";
                    document.getElementById("lang").style.fontSize = "1.5em";
                    document.getElementById("lang").style.width = "6em";
                    document.getElementById("lang").style.textAlign = "center";
                }
            });
        });
    });
</script>

{% endblock %}
{# https://cdnjs.com/libraries/codemirror/5.38.0 #}
