{% extends "tools/tool_base.html" %}
{% load staticfiles %}

{% block tool %}

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="input">Input</label>
      <textarea class="form-control rounded-0" id="input" rows="10" placeholder="Type here" onkeyup="SHA384_hash(this)"></textarea>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="output">Output</label>
      <textarea class="form-control rounded-0" id="output" rows="10" placeholder="Output here" disabled></textarea>
    </div>
  </div>
</div>
{% endblock %} 


{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.min.js"></script>
<script type="text/javascript">
  function SHA384_hash(tag)
  {
        var output_area = document.getElementById('output');
        var input_value = tag.value;
        var answer = sha384(input_value);
        output_area.value = answer;
    }
</script>
{% endblock %}