{% extends 'base.html' %}
{% load staticfiles %}
{% load tool_category %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

<div class="container">

  {% for category in categories %}
  <h2>{{category}}</h2>

  <div class="row">
    {% for tool in tools|tool_category:category|slice:":3"%}
    <div class="col-md-3 offset-md-1">
      <a href="{% url 'tool' tool_name=tool.url_endpoint %}" style=" text-decoration : none; color : #000;">
        <div class="card bg-light mb-4" style="max-width: 60rem;">
          <div class="card-header">{{tool.name}}</div>
          <div class="card-body">
            <p class="card-text">{{tool.short_description|truncatewords:30 }}</p>
          </div>
        </div>
      </a>
    </div>
    {%endfor%}
  </div>
  <a href="{% url 'category' category_name=category%}">more...</a>
  <br>
  <br>
  {% endfor %}
  <br>
  <!-- Help Button -->
  <button class="forum_button">
    <i class="fa fa-comments fa-3x"></i>
  </button>
  <!--Forum Popup -->
  <div class="forum_popup_container">
    <div class="forum_popup">
      <span class="forum_popup_close">&times;</span>
      <div class="forum_popup_icon">
        <img src="{% static 'assets/Join_community.png' %}" class="popup_icon">
      </div>
      <div class="forum_popup_content">
        <p>Visit our discussion forum to ask any question and join our community</p>
        <a target="_blank" class="discourse_link" href="https://discourse.opengenus.org/">View Forum</a>
      </div>
    </div>
  </div>


  {% endblock%}

  {% block scripts %}

  {% endblock %}