{% extends "tools/tool_base.html" %}
{% load staticfiles %}
{% block tool %}
<style>
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    //color: #0000CD;
    color: black;
    font-size: 60px;
    font-weight: bold;
    font-family: Orbitron;
    letter-spacing: 7px;
}
</style>

<div id="MyClockDisplay" class="clock"></div>

<script type="text/javascript">
function showTime(){
    var date = new Date();
    var h = date.getHours();
    var m = date.getMinutes();
    var s = date.getSeconds();
    var session = "AM";
    if(h == 0){
        h = 12;
    }   
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    if ( h < 10 ){
	h = "0" + h;
    }
    if ( m < 10 ){
	m = "0" + m;
    }
    if ( s < 10 ){
	s = "0" + s;
    }
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    //setTimeout(showTime, 1000);
}
showTime();
setInterval(showTime,1000);
</script>

{% endblock %}
