{% extends "tools/tool_base.html" %}
{% load staticfiles %}

{% block head %}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/twilight.css'>
{% endblock %}

{% block tool %}

<br>

<div class="row">
  <button type="button" class="btn btn-flat btn-lg " onclick="prettify()">Prettify</button>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
          <label for="inputtextarea"><b>Input</b></label>
          <label class="file btn btn-primary">
              Browse <input type="file" id="inputfile"hidden>
          </label>

          <textarea class="form-control rounded-0" id="inputtextarea" rows="10"></textarea>
      </div>
  </div>
</div>

<div class="row"  id ="output">
  <div class="col-sm-12">
      <div class="form-group">
          <label for="outputtextarea"><b>Output</b></label>
          <textarea class="form-control rounded-0 CodeMirror" id="outputtextarea" rows="10"></textarea>
      </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/css/css.js"></script>

<script type="text/javascript">


var config = {
    lineNumbers     : true,
    lineWrapping    : true,
    mode            : "css",
    theme           : "twilight",
    tabSize         : 4,
    indentUnit      : 4
  };
var editor = CodeMirror.fromTextArea(document.getElementById("outputtextarea"), config);

function prettify() {
  editor.setValue($('#inputtextarea').val())
  $('html, body').animate({
    scrollTop: $("div#output").offset().top
  }, 500)
}

$("#inputfile").on('change', function() {
  var fileToLoad = document.getElementById("inputfile").files[0];
  var file = document.getElementById("inputfile").files[0];
  var reader = new FileReader();
  reader.onload = function (e) {
      var textArea = document.getElementById("inputtextarea");
      textArea.value = e.target.result;
  };
  reader.readAsText(file,"UTF-8");

});


</script>
</script>
{% endblock %}
{# https://cdnjs.com/libraries/codemirror/5.38.0 #}
