{% extends "tools/tool_base.html" %}
{% load staticfiles %}

{% block tool %}
  <div class="row">
    <div class="col-sm-5 col-sm-offset-5">
      <button type="button" class="btn btn-flat btn-lg " onclick="wordCount()">Word Count</button>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputtextarea">Input</label>
            <textarea class="form-control rounded-0" id="inputtextarea" rows="10" placeholder="Start Typing..."></textarea>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <label for="outputtextarea">Output</label>
          <textarea class="form-control rounded-0" id="outputtextarea" rows="10" placeholder="Output..." disabled></textarea>
      </div>
    </div>

  </div>

<script type="text/javascript">
function wordCount() 
{
  var text = $('#inputtextarea').val();
  text = text.replace(/(^\s*)|(\s*$)/gi,"");
  text = text.replace(/[ ]{2,}/gi," ");
  text = text.replace(/\n /,"\n");
  var words = text.split(' ').length;
  $('#outputtextarea').val(words);
}

</script>


{% endblock %}
