{% extends "tools/tool_base.html" %}
{% load staticfiles %}



{% block tool %}

			<table style="width: 20%" id="imgDisplay" align="center">
                <tr>
                <th>Input</th>
                <th>Output</th>
                </tr>
                <tr>
                <td style = "border: 2px solid black"><img src="{{MEDIA_URL}}cartoonify/input/inp.png" /></td>
                <td style = "border: 2px solid black"><img src="{{MEDIA_URL}}cartoonify/output/convertedImg.png" alt="output image" /></td>
                </tr>
                <tr>
                	<td><button type="button" class="btn btn-flat btn-lg " onclick= "a()">Try another</button></td>
                	<td><button><a href="{{MEDIA_URL}}cartoonify/output/convertedImg.png" download="">Download</a></button></td>
                </tr>
            </table>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        function a()
            {
            	window.location.href="cartoonify.html";
        	}
    </script>
{% endblock %}
