{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/user_timeline.css' %}">
{% endblock %}


{% block content %}


<div class="container">

           <div class="modal-body text-center">

               <img src="{{user_profile.profilepic.url}}" width="140" height="140" border="0" class="img-circle">

               <h3 class="media-heading">{{user_profile.user.username}}<small>{{user_profile.name}}</small></h3>
               <span><strong>Links: </strong></span>
                <a href="{{user_profile.github}}" target="_blank"><span class="label label-info">Github</span></a>
                <a href="{{user_profile.discourse}}" target="_blank"><span class="label label-info">Discourse</span></a>
                <a href="{{user_profile.website}}" target="_blank"><span class="label label-info">Website</span></a>

               <hr>

               <p class="text-left">
                 <strong>About: </strong><br>
                  {{user_profile.about}} <br>
              </p>
              <hr>
              <p class="text-left">
                <strong>Tools: </strong><br>
              {% for tool in tools%}
              <a href='{% url 'tool' tool_name=tool.url_endpoint %}'>
               {{tool.name}}</a>
              {% endfor %}
                 <br>
             </p>
           </div>

<hr>


<div class="page-header">
    <h1 class="text-center">{{request.user}} Timeline</h1>
</div>
<hr>
<ul class="timeline">
  {% for tool in tools %}

      {% if forloop.counter|divisibleby:2 %}
        <li class="timeline-inverted">
      {%else%}
        <li>
      {%endif%}

      <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{tool.name}}</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{tool.created_at}}</small></p>
        </div>
        <div class="timeline-body">
          <p>{{tool.long_description|truncatechars:255}}</p>
        </div>
      </div>
    </li>



{% endfor %}
</ul>

</div>


{% endblock %}
